@use '../../styles/variables.scss' as *;

.dashboard {
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;

    .contentRow {
        display: flex;
        flex-direction: column;
        flex: 1;
        
        .calendarSection {
            margin-bottom: 16px;
            width: 100%;

            @media (min-width: $breakpoint-md) {
                width: 350px;
            }

            .header {
                color: $color-main;
            }

            .description {
                color: $color-main;
            }
        }
    
        .trainerSection {
            flex: 1;
            overflow-y: auto;

            .filterRow {
                overflow: visible;
                width: 100%;
                margin: 16px 0;
                display: flex;
                justify-content: center;
                background-color: $color-white;
                border-radius: 16px;
                border: 1px solid $color-border;

                .searchBox {
                    flex: 1;

                    svg {
                        margin: 15px;
                    }
                }
            }
        }
    }

}

 @media (min-width: $breakpoint-lg) {
    .dashboard {
        flex-direction: column;
        gap: 48px;

        .contentRow {
            flex-direction: row;
            gap: 48px;
            
            .calendarSection {
                width: 350px;    
                flex-shrink: 0;    
            }
        }
        

        .trainerSection {
            flex: 1;
            overflow-y: auto;
        }
    }
        
}

.footer {
    flex-shrink: 0;
    position: sticky;
    width: 100%;
    bottom: 0;
    background-color: $color-background;
}