@use '../../styles/variables.scss' as *;

.dashboard {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

 @media (min-width: $breakpoint-lg) {
        .dashboard {
            flex-direction: row;
            gap: 48px;
            
            .calendarSection {
                width: 350px;    
                flex-shrink: 0;    
        
                .header {
        
                }
            
                .description {
            
                }
            }

            .trainerSection {
                flex: 1;
            }
        }
        
    }