@use '../../styles/variables.scss' as *;

.submitConfirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .checkmark {
        color: $color-main;
        width: 72px;
        height: 72px;
        margin-bottom: 30px;
    }
    
    .trainerConfirmCard {
        width: 100%;
        background: $color-white;
        border-radius: 16px;
        border: 1px solid $color-border;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);

        display: flex;
        align-items: flex-start;

        padding: 16px;
        margin-bottom: 40px;

        @media (min-width: $breakpoint-md) {
            padding: 20px;
        }
    }
}