@use './styles/variables.scss' as *;

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: $color-background;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight-regular;
  line-height: $line-height;

  h1 {
    font-size: $font-size-heading;
  }

  h2 {
    font-size: $font-size-subheading;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.btn {
  padding: 16px 12px;
    text-align: center;
    border-radius: 50px;
    font-weight: $font-weight-bold;
    
    &:hover {
        cursor: pointer;
    }

    @media (min-width: $breakpoint-md) {
        border-radius: 8px;
    }

  &.primary {
    background-color: $color-main;
    color: $color-white;
  }

  &.secondary {
    background-color: $color-white;
    border: 1px solid $color-main;
    color: $color-main;
  }
}
